.board{
    width:990px;
    height:1000px;
    display: inline-block;
    line-height:0;
}
.square{
    height:6.4%;
    width:6.4%;
    border: 1px solid black;
    background: #91C1FC ;
    display: inline-block;
    background-repeat: no-repeat;
    background-size:cover;
}
.square:hover{
    border: solid 1px white;
}
.row{
    display: inline-block;
}
.main{
position:relative;
display:flex;
justify-content: space-evenly;
}

button{
    height: 80px;
    width: 80px;
    color: white;
    font-size:16px;
    font-weight: 900;
    padding-top: 50px;
    background-size: contain;
}

.tool{
    background-color: blue;
}
.tool.selectedTool{
    background-color: red;
}

#axe{
    background-image: url("../images/axe.png");
}
#pickaxe{
    background-image: url("../images/pickaxe.png");
}
#shovel{
    background-image: url("../images/shovel.png");
}
.dirt{
    background-image: url("../images/dirt.png");
}
.dirtGrass{
    background-image: url("../images/grass.png");

}
.inventory{
    height: 65px;
    width: 65px;
    background-color: pink;
}
.leaf , .trunck{
     height: 65px;
    width: 65px;

    background-repeat: no-repeat;
    background-size:cover;

}
.leaf{
     display: inline-block;
}
#tree{
    line-height:0;
    width:195px;
    position:absolute;
    top:135px;
    left: 765px;
}
.treeBottom{
    display:flex;
    align-items :center;
    flex-direction:column;
}
