.board{
    width:900px;
    height:900px;
    display: inline-block;
    line-height:0;

}
.square{
    height:60px;
    width:60px;
    background: #91C1FC ;
    display: inline-block;
    background-repeat: no-repeat;
    background-size:cover;
}
.square:hover{
    opacity: 0.8;
}
.row{
    display: inline-block;
}
.main{
position:relative;
display:flex;
justify-content: center;
}
#resetBut{
    height: 35px;
    width: 120px;
    margin-left: 45px;
    margin-top: 15px;
    background-color:white;
    font-size: 19px;
    color: black;

}

button{
    height: 80px;
    width: 80px;
    color: white;
    font-size:16px;
    font-weight: 900;
    background-size: contain;
    margin: 5px;
}
.notWorkingColor{
    background-color: darkred !important;
}
.tool{
    background-color: blue;
}
.tool.selectedTool{
    background-color: red ;
}

#axe{
    background-image: url("../images/axe.png");
}
#pickaxe{
    background-image: url("../images/pickaxe.png");
}
#shovel{
    background-image: url("../images/shovel.png");
}
.dirt, #dirtBut{
    background-image: url("../images/dirt.png");
}
.dirtGrass, #dirtGrassBut{
    background-image: url("../images/grass.png");

}
#rockBut, .rock{
    background-image:url('../images/rock.png') ;
}
.rock:hover{
    opacity: 0.6;
}

.trunck{
    background-image:url('../images/tree.png') ;
    display: inline-block;
}
.trunck:hover{
    opacity: 0.6;
}
#otherTrunck0,#otherTrunck2, #otherTrunck3,#otherTrunck5,#otherTrunck6,#otherTrunck8 {

    height: 60px !important;
    width: 60px !important;

}
.leaf{
    background-image:url('../images/leaf.png') ;
    display: inline-block;
}
.leaf:hover{
    opacity: 0.6;
}

#ArielBut{
    background-image: url('../images/Ariel.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
      height:60px;
    width:60px;
}
.Ariel{
  background-image: url('../images/Ariel.jpg');
 display: inline-block;
   background-size: cover;
    height:60px;
    width:60px;
}
#leafBut{
    background-image: url('../images/leaf.png') ;
}

#trunckBut{
    background-image: url('../images/tree.png') ;
     height: 60px;
    width: 60px;
}


.inventory{
    height: 60px;
    width: 60px;
    background-color: pink;
}
.leaf , .trunck{
     height: 60px;
    width: 60px;

    background-repeat: no-repeat;
    background-size:cover;

}
.leaf{
     display: inline-block;
}
#tree{
    line-height:0;
    width:180px;
    position:absolute;
    top:119px;
    left: 746px;
}
.treeBottom{
    display:flex;
    align-items :center;
    flex-direction:row;
    flex-wrap: wrap;
}


#rocks{
    line-height:0;
    position:absolute;
    top:379px;
    left: 507px;
}
.cloud{
    background-color: white;

}
.rock{
    width:60px;
    height:60px;
     background-repeat: no-repeat;
    background-size:cover;
    display:inline-block;
}